$waikawa-gray-50: #f5f6fa;
$waikawa-gray-100: #eaebf4;
$waikawa-gray-200: #d0d4e7;
$waikawa-gray-300: #a6b0d3;
$waikawa-gray-400: #7686ba;
$waikawa-gray-500: #6374ae;
$waikawa-gray-600: #414f88;
$waikawa-gray-700: #36406e;
$waikawa-gray-800: #30395c;
$waikawa-gray-900: #2c324e;

.RTL {
  color: $waikawa-gray-100;
  font-size: small;
  overflow: scroll;
  box-shadow: 0 0 21px -6px rgba(0, 0, 0, 0.6);

  &TheadTr {
    &__td {
      padding: 0.4rem;
      text-align: center;
      background: $waikawa-gray-700;
      border-right: 1px solid $waikawa-gray-400;
      border-bottom: 1px solid $waikawa-gray-400;
      box-sizing: border-box;
    }
    &__th {
      padding: 0.4rem;
      text-align: center;
      background: $waikawa-gray-700;
      border-right: 1px solid $waikawa-gray-400;
      border-bottom: 1px solid $waikawa-gray-400;
      box-sizing: border-box;
    }
  }
  &TbodyTr {
    &__td {
      padding: 0.4rem;
      box-sizing: border-box;
      border-right: 1px solid $waikawa-gray-400;
      border-top: 1px solid $waikawa-gray-400;
    }
    &__th {
      padding: 0.4rem;
      box-sizing: border-box;
      border-right: 1px solid $waikawa-gray-400;
      border-top: 1px solid $waikawa-gray-400;
      background: $waikawa-gray-500;
    }
  }
  &event {
    background: $waikawa-gray-700;
    padding: 0.4rem;
  }
}
