.RTL {
  border: 1px solid;

  &TheadTr {
    &__td,&__th {
      padding: 0.4rem;
    }
    &__td {
      border-right: 1px solid;
      border-bottom: 1px solid;
    }
    &__th {
      border-right: 1px solid;
      border-bottom: 1px solid;
    }
  }
  &TbodyTr {
    &__td,&__th {
      padding: 0.4rem;
    }
    &__td {
      border-right: 1px solid;
      border-top: 1px solid;
    }
    &__th {
      border-right: 1px solid;
      border-top: 1px solid;
    }
  }
  &TBodyTrTd {
    position: relative;
  }
  &event {
    position: absolute;
    left: 0;
  }
}
